opensearchadmin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Dansk Bibliotekscenter A/S (Dansk Bibliotekscenter A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:osa="http://oss.dbc.dk/ns/opensearchadmin" xmlns:dkabm="http://biblstandard.dk/abm/namespace/dkabm/" xmlns:docbook="http://docbook.org/ns/docbook" targetNamespace="http://oss.dbc.dk/ns/opensearchadmin" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">Open Search Administrative Service</xs:documentation>
		<xs:documentation xml:lang="en">This XML Schema describes the data and structure of data of the OpenSearch Admin Service.</xs:documentation>
		<xs:documentation xml:lang="en">This file is part of OpenSearch.
Copyright 2009, Dansk Bibliotekscenter a/s,  Tempovej 7-11, DK-2750 Ballerup, Denmark. CVR: 15149043

OpenSearch is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

OpenSearch is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with OpenSearch.  If not, see http://www.gnu.org/licenses/</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://biblstandard.dk/abm/namespace/dkabm/" schemaLocation="dkabm.xsd"/>
	<xs:import namespace="http://docbook.org/ns/docbook" schemaLocation="docbook.xsd"/>	
	<xs:element name="createObjectRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">Create object request. For creation of new data in the object respository.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="osa:authentication" minOccurs="0"/>
				<xs:element ref="osa:localIdentifier"/>
			  <xs:element ref="osa:object"/>
				<xs:element ref="osa:callback" minOccurs="0"/>
				<xs:element ref="osa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createObjectResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">Create object response.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="osa:status"/>
					<xs:element ref="osa:objectIdentifier"/>
					<xs:element ref="osa:taskId"/>
				</xs:sequence>
				<xs:element ref="osa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="copyObjectRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">Copy object request. Creates a copy of the object in the object repository and adds it to submitters collection.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="osa:authentication" minOccurs="0"/>
				<xs:element ref="osa:localIdentifier"/>
				<xs:element ref="osa:objectIdentifier"/>
				<xs:element ref="osa:callback" minOccurs="0"/>
				<xs:element ref="osa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="copyObjectResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">Copy object response.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="osa:status"/>
					<xs:element ref="osa:objectIdentifier"/>
					<xs:element ref="osa:taskId"/>
				</xs:sequence>
				<xs:element ref="osa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateObjectRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">Update object request. For updating data in the object respository. Creates a copy of the object in the object repository with local changes, and adds it to submitters collection.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="osa:authentication" minOccurs="0"/>
				<xs:element ref="osa:objectIdentifier"/>
			  <xs:element ref="osa:object"/>
				<xs:element ref="osa:callback" minOccurs="0"/>
				<xs:element ref="osa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateObjectResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">Create object response.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="osa:status"/>
					<xs:element ref="osa:objectIdentifier"/>
					<xs:element ref="osa:taskId"/>
				</xs:sequence>
				<xs:element ref="osa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteObjectRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">Delete object request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="osa:authentication" minOccurs="0"/>
				<xs:element ref="osa:objectIdentifier"/>
				<xs:element ref="osa:callback" minOccurs="0"/>
				<xs:element ref="osa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteObjectResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">Delete object response.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="osa:status"/>
					<xs:element ref="osa:taskId"/>
				</xs:sequence>
				<xs:element ref="osa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="getTaskStatusRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">Get status of a task request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="osa:taskId"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="getTaskStatusResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">Get status of a task response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="osa:taskStatus"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="authentication">
		<xs:annotation>
			<xs:documentation xml:lang="en">Parameters used for authentication purposes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="osa:groupIdAut"/>
				<xs:element ref="osa:passwordAut"/>
				<xs:element ref="osa:userIdAut"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="callback" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">If outputType=json.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="error" type="osa:errorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Error message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="groupIdAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of the group (most often a library number) the user belongs to (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="localIdentifier" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Local identifier of data.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="object">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of an object in the object repository.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
			  <xs:element ref="dkabm:record"/>
			  <xs:element ref="docbook:article" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectIdentifier" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of an object in the object repository.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="outputType" type="osa:outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">E.g. xml, json or php.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="passwordAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Password (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="status" type="osa:statusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Status of request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="taskId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a given task</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="taskStatus" type="osa:taskStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Status of a given task</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userIdAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User identifier (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="errorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="authentication_error"/>
			<xs:enumeration value="error_fetching_object_record"/>
			<xs:enumeration value="error_fetching_taskpackage_number"/>
			<xs:enumeration value="error_identifier_exists"/>
			<xs:enumeration value="error_in_local_identifier"/>
			<xs:enumeration value="error_in_object_identifier"/>
			<xs:enumeration value="error_in_request"/>
			<xs:enumeration value="error_parsing_fedora_result"/>
			<xs:enumeration value="error_reaching_es_database"/>
			<xs:enumeration value="error_reaching_fedora"/>
			<xs:enumeration value="error_writing_es_database"/>
			<xs:enumeration value="no_identifier_in_object_record"/>
			<xs:enumeration value="no_record_in_object"/>
			<xs:enumeration value="operation_not_allowed_on_object"/>
			<xs:enumeration value="service_unavailable"/>
			<xs:enumeration value="unknown_agency"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The types of output that can be returned by the service.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="xml"/>
			<xs:enumeration value="json"/>
			<xs:enumeration value="php"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="object_created"/>
			<xs:enumeration value="object_copied"/>
			<xs:enumeration value="object_updated"/>
			<xs:enumeration value="object_deleted"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taskStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Types of status that a task can have</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="a"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
